doctype html
html(lang='en')
  head
    title OnlineText
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js')
    script(src='https://unpkg.com/react@16/umd/react.development.js', crossorigin='')
    script(src='https://unpkg.com/react-dom@16/umd/react-dom.development.js', crossorigin='')
    style(type='text/css').
      html {
      margin: 0;
      padding: 0;
      height: 100%;
      }
      body {
      margin:0px;
      padding:0px;
      /* background-color: #3C3C3C;  */
      background-image: url("/images/login_background_m.jpg");
      background-repeat: no-repeat;
      background-size:cover;
      height:100%;
      width:100%;
      background-attachment:fixed;
      background-position:center;
      }
      .font {
      color : #9D9D9D
      }
      .error {
      color: red
      }
      .loginBox {
      margin-right: none;
      margin-left: 250px;
      padding-right:30px;
      padding-left:30px;
      padding-top:30px;
      padding-bottom:20px;
      border-radius:.9rem!important;
      width: 485px;
      box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      }
      .imageBox{
      margin-right: none;
      margin-left: none;
      }
      @media (min-width: 1200px){
      }
      @media (max-width: 1200px){
      }
      @media (max-width: 992px){
      }
      @media (max-width: 985px){
      .loginBox {
      margin-right: auto;
      margin-left: auto;
      }
      }
      @media (max-width: 768px){
      }
      @media (max-width: 576px){
      .imageBox{
      justify-content: center!important;
      }
      }
    script(sec:='login.js').
  body
    .d-flex.justify-content-start.imageBox
      img.center-block(src='/images/MainIcon.png')
    #loginBox.d-flex.justify-content-start(style='padding-top:8%')
    script(src='/reactjs/Login.js')
