doctype html
html(lang='en')
  head
    title Bootstrap Example
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js')
    script(src='https://unpkg.com/react@16/umd/react.development.js', crossorigin='')
    script(src='https://unpkg.com/react-dom@16/umd/react-dom.development.js', crossorigin='')
    link(rel='stylesheet', type='text/css', href='/css/mainPage.css')
  body
    #mainPage(style='width: 100%; height: 100%;')
    script(src='/reactjs/mainPage.js')
    //
      <div class="d-flex justify-content-start imageBox">
      <img src="MainIcon.png" class="center-block">
      </div>
      <div class="d-flex justify-content-start" style="padding-top:8%">
      <div class="loginBox" style="background-color:#5B5B5B;">
      <div class="d-flex justify-content-center " style="padding-bottom:20px; padding-top:20px">
      <h3 class="text-white">Welcome Back!</h3>
      </div>
      <div class="form-group">
      <label class="font">Account</label>
      <input type="email" class="form-control border border-dark text-white " style="background-color:#4F4F4F;"
      id="account">
      </div>
      <div class="form-group">
      <label class="font">Password</label>
      <input type="password" class="form-control border border-dark text-white" style="background-color:#4F4F4F;"
      id="password">
      </div>
      <div style="padding-top:20px">
      <div class="d-flex justify-content-center" id="app">
      </div>
      </div>
      <div>
      <h6><small class="font">Don't have account? <a style="color:#7D7DFF;"
      href="https://127.0.0.1:3000/OnlineText/register">Register</a></small></h6>
      </div>
      </div>
      </div>
